{
  "printWidth": 80,
  "doubleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "orderedImports": true,
  "jsxBracketSameLine": false,
  "endOfLine": "auto"
}
